@media all and (max-width:1200px) and (min-width:400px){

.prev{
	width: 50px;
	height: 50px;
	bottom: 3%;
	left: 1%;
	position: absolute;
}
.next{
	width: 50px;
	height: 50px;
	bottom: 3%;
	right: 1%;
	position: absolute;
}
	
	
/****** PAGE2 ******/
#page2 .t1{	
	margin-top: 100px;
}
#page2 .footer{	
	bottom: 100px;	
	width: 100%;
}
#page2 .t2{		
	font-size: 12px;
}
#page2 a{		
	font-size: 15px;
}
#page2 .bandeira{	
	margin-top: 30px;
}
#page3 a{
	background-color: rgba(255,255,255,0.5);
	padding: 5px;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-bottom: 10px;
}
/****** PAGE4 ******/
#page4 p{
	text-indent: 30px;
	text-align: justify;
}
#page4 .caixa-texto{
	height: 500px;
	overflow: auto;
	padding-left: 30px;
	padding-right: 15px;
}
#page4 .cont-seta{
	width: 100%;
	float: left;
	text-align: center;
	margin-top: 10px;
}
#page4 .seta img{
	text-align: center;
}
/****** PAGE5 ******/
#page5 h2 {
	font-size: 42px;
	margin-left: 20px;
	color: rgb(195, 204, 90);
	font-family: "Nexa Bold", sans-serif;
	text-transform: capitalize;
	text-shadow: none;
}
#page5 .caixa-aspas{
	float: right;	
	width: 420px;
	margin-right: 20px;
}
#page5 .caixa-texto{
	overflow: auto;
	height: 140px;	
	padding-left: 10px;
	padding-right: 10px;
}
#page5 .caixa-texto p{
	color: #fff;	
	text-align: center;
	text-transform: none;
}
#page5 .container-caixa {
	float: right;
	height: 423px;
	width: 380px;
	margin-right: 20px;
	background-image: url('../img/bg-texto.png');
	background-position: center;
	background-size: auto 100%;
	position: absolute;
	background-repeat: no-repeat;
	right: 15px;
	bottom: 140px;
}
#page5 .caixa-texto-bg{
	overflow: auto;
	height: 397px;
}
#page5 .caixa-texto-bg p {
	text-transform: none;
	text-align: left;
	text-indent: 30px;
	font-size: 16px;
	line-height: 22px;
	padding: 30px;
	padding-top: 0px;
	padding-bottom: 0px;
	margin-top: 0px;
	margin-top: 10px;
	color: rgb(52, 72, 93);
}
#page6 .texto-top{
	width: 48%;
	height: 280px;
	overflow: auto;	
	float: right;	
	margin-right: 60px;
	margin-top: 2%;
}
#page6 .tabela1{
	float: left;	
	width: 100%;
	text-align: center;
	margin-top: 5%;
}
#page6 .tabela2{
	float: left;	
	width: 100%;
	text-align: center;
	margin-top: 2%;
}
#page6 .legenda{
	font-size: 12px;
	font-size: 12px;
	width: 100%;
	text-align: center;
	margin-top: 0px;
	margin-bottom: 0px;
}
#page7 .texto-top{
	width: 55%;
	float: left;
	margin-right: 5%;
	overflow: hidden;
	height: 310px;
}
#page7 .grafico{
	float: right;
	width: 40%;
}
#page7 .grafico img{
	width: 100%;
}
#page7 .texto-top img{
	margin-left: 164px;
	width: 78px;
	float: left;
	margin-top: -10px;
}
#page7 .caixa-aspas{
	width: 60%;
	text-align: center;
	overflow: auto;
	margin-left: 20%;
	margin-top: 2%;
	float: left; 
}
#page7 .caixa-aspas .caixa-texto{
	width: 100%;
	text-align: center;	
}
#page7 .cont-seta{
	width: 100%;
	float: left;
	text-align: center;
	margin-top: 10px;
}
#page7 .seta img{
	text-align: center;
}
#page7 .col2{	
	width: 100%;
	float: left;
	margin-top: 2%;	
}
#page7 h2{
	font-size: 30px;
	color: rgb(195, 204, 90);
	font-family: "Nexa Bold", sans-serif;
	text-transform: none;
	float: left;
	width: 100%;
	margin-bottom: 10px;
	margin-top: -10px;
	text-align: center;
}
#page7 .col2 p{	
	height: 110px;
   	overflow: auto;
 	float: left;
}
#page7 .ultima-linha{
	width: 100%;
	float: left;
	margin-top: 2%;
}
#page7 .ultima-linha .col1{
	width: 48%;
	float: left;
}
#page7 .ultima-linha .chave{	
	float: left;
	width: 100%;
	text-align: center;
}
#page7 .ultima-linha .nova{
	width: 48%;
	float: left;
	margin-left: 4%;
}


#page8 h2 {
	font-size: 42px;
	margin-left: 20px;
	color: rgb(195, 204, 90);
	font-family: "Nexa Bold", sans-serif;
	text-transform: capitalize;
	text-shadow: none;
	margin-bottom: 0px;
}
#page8 .caixa-aspas{
	float: right;
	width: 420px;
	margin-right: 20px;
	margin-top: -10%;
}
#page8 .caixa-texto{
	overflow: auto;
	height: 140px;	
	padding-left: 10px;
	padding-right: 10px;
}
#page8 .caixa-texto p{
	color: #fff;	
	text-align: center;
	text-transform: none;
}
#page8 .container-caixa {
	float: right;
	height: 423px;
	width: 380px;
	margin-right: 20px;
	background-image: url('../img/bg-texto2.png');
	background-position: center;
	background-size: auto 100%;
	position: absolute;
	background-repeat: no-repeat;
	right: 15px;
	bottom: 140px;
}
#page8 .caixa-texto-bg{
	overflow: auto;
	height: 397px;
}
#page8 .caixa-texto-bg p {
	text-transform: none;
	text-align: left;
	text-indent: 30px;
	font-size: 16px;
	line-height: 22px;
	padding: 30px;
	padding-top: 10px;
	color: rgb(52, 72, 93);
}
#page8 .obs{
	position: absolute;
	bottom: 30px;
	width: 85%;
	margin-left: 7%;
}

#page9 .texto1{
	width: 100%;
	float: left;
	margin-bottom: 1%;
	text-indent: 20px;
}
#page9 .caixa-aspas{
	margin: 0 auto;
	width: 60%;	
	padding-bottom: 1%;	
}
#page9 .caixa-texto{
	overflow: auto;
	height: 10%;	
	padding-left: 10px;
	padding-right: 10px;
}
#page9 .caixa-texto p{
	color: rgb(13,63,90);	
	text-align: center;
	text-transform: none;
	margin-top: 0px;
	margin-bottom: 0px;
}
#page9 .imagem{
	float: left;
	width: 45%;
	margin-right: 10%;
}
#page9 .imagem .legenda{	
	margin-top: 0px;
	font-size: 12px;
	line-height: 15px;
	width: 100%;
	text-align: center;
}
#page9 .imagem .legenda p{	
	margin-top: 0px;
	font-size: 12px;
	line-height: 15px;
	width: 100%;
	text-align: center;
}
#page9 .container-caixa2 {
	float: left;
	height: 230px;
	width: 45%;
	overflow: auto;
}
#page9 .seta-verde{
	float: right;
	width: 45%;
	text-align: center;
}
#page9 .caixa-texto2 img{
	text-align: center;
}
#page10 h2{
	font-size: 42px;
	margin-left: 20px;
	color: rgb(8, 48, 70);
	font-family: "Nexa Bold", sans-serif;
	text-transform: none;
	text-shadow: none;
	margin-bottom: 0px;
}
#page10 .texto-grande{
	column-count:2;	
	-moz-column-count:2;	
	-webkit-column-count:2;	
	-o-column-count:2;
	padding: 10px;
	background-image: url("../img/bg-texto-verde.png");
	background-size: 100% 100%;
	background-position: center;
	padding: 2%;
}
#page10 .img-grafico{
	width: 100%;
	text-align: center;
}
#page10 .img-grafico img{
	width: 60%;
}
#page10 .legenda{
	width: 60%;
	text-align: center;
	margin: 0 auto;
}
#page10 .legenda1{
	width: 65%;
	float: left;
	margin-top: 0px;
	font-size: 14px;
	line-height: 14px;
}
#page10 .legenda2{
	width: 35%;
	float: right;
	margin-top: 0px;
	font-size: 14px;
}
#page11 .grafico1{
	width: 100%;
	margin-bottom: 10%;
	text-align: center;
}
#page11 .grafico1 img {
	width: 100%;
}
#page11 .grafico2{
	width: 70%;
	float: right;
	text-align: center;
	margin-top: -35%;
}
#page11 .grafico2 img{
	width: 95%;
}
#page14 .tabela{
	width: 100%;
	text-align: center;
}
#page14 .tabela img{
	width: 90%;
}
#page16 .tabela1{
	width: 100%;
	text-align: center;
}
#page16 .tabela1 img{
	width: 70%;
}
#page16 .tabela2{
	width: 100%;
	text-align: center;
	margin-top: 5%;
}
#page16 .tabela2 img{
	width: 60%;
}
#page16 .legenda1{
	margin: 0 auto;
	width: 70%;
	text-align: right;
}
#page16 .legenda2{
	margin: 0 auto;
	width: 60%;
	float: right;
}
#page17 .grafico{
	width: 100%;
	text-align: center;
}
#page17 .grafico img{
	width: 50%;
	margin-bottom: 2%;
}
#page18 h2{
	font-size: 42px;
	margin-left: 20px;
	color: rgb(0, 136, 150);
	font-family: "Nexa Bold", sans-serif;
	text-transform: capitalize;
	text-shadow: none;
	margin-bottom: 10px;
	margin-top: 10px;
	margin-left: 0px;
}
#page18 .cont-seta{
	width: 100%;
	float: left;
	text-align: center;
	margin-top: 10px;
}
#page18 .seta img{
	text-align: center;
}
#page18 .lin2{
	float: left;
}
#page18 h3{
	width: 100%;
	text-align: center;
	font-size: 14px;
	color: rgb(43,127,176);
}
#page18 .lin2 img{
	float: right;
	width: 45%;
}
#page18 .content-texto1{
	overflow: auto;
	height: 440px;
	float: left;
}
#page19 .tabela5{
	float: left;
	width: 50%;
	margin-right: 10%;
}
#page19 .tabela5 img{
	width: 100%;
}
#page19 .tabela6{
	float: left;
	width: 40%;
	margin-top: 200px;
}
#page19 .tabela6 img{
	width: 100%;
}
#page19 .tabela7{
	float: left;
	width: 40%;
	margin-right: 10%;
}
#page19 .tabela7 img{
	width: 100%;
}
#page19 .legenda{
	margin-top: 0px;
	font-size: 12px;
	line-height: 15px;
}
#page19 .legenda.branco{
	color: #fff !important;
}
#page19 .caixa-texto{
	float: left;
	width: 46%;
	padding: 2%;
	background-image: url("../img/bg-texto.png");
	margin-top: 100px;
	background-repeat: no-repeat;
}
#page20 h2{
	font-size: 42px;
	margin-left: 20px;
	color: rgb(251, 185, 17);
	font-family: "Nexa Bold", sans-serif;
	text-transform: none;
	text-shadow: none;
	margin-bottom: 10px;
	margin-top: 10px;
	margin-left: 0px;
}
#page20 .caixa-aspas{
	float: right;
	width: 54%;
	margin-right: 5%;
	margin-bottom: 5%;
	margin-top: 10%;
}
#page20 .caixa-texto p{
	color: #fff;	
	text-align: center;
	text-transform: none;
}
#page20 .caixa-texto2{
	float: left;
	width: 50%;
	padding: 5%;
	background-image: url('../img/bg-texto-claro.png');
	background-size: 100% 100%;
}
#page20 .caixa-texto{
	overflow: auto;
	height: 110px;
}
#page21 .lin1{
	width: 100%;
	height: 340px;
	overflow: auto;
}
#page21 .caixa-aspas{
	float: left;
	width: 100%;
	margin-right: 20px;
	text-align: center;
}
#page21 .caixa-aspas img{
	width: 423px;
}
#page21 .caixa-texto{
	width: 423px;
	overflow: auto;
	margin: 0 auto;
	padding-left: 10px;
	padding-right: 10px;
}
#page21 .caixa-texto p{
	color: rgb(75,173,49);
	text-align: center;
	text-transform: none;
	margin-top: 0px;
	margin-bottom: 0px;
}
#page21 .grafico{
	width: 100%;
	margin-top: 20px;
	float: left;
	text-align: center;
}
#page21 .grafico img{
	width: 90%;
}
#page21 .legenda{
	width: 90%;
	text-align: right;
	margin: 0 auto;
}
#page21 .legenda p{
	text-align: right;
	margin-top: 0px;
}
#page21 .cont-seta{
	width: 100%;
	float: left;
	text-align: center;
	margin-top: 10px;
}
#page21 .seta img{
	text-align: center;
}


#page22 h2{
	font-size: 42px;
	margin-left: 20px;
	color: rgb(251, 185, 17);
	font-family: "Nexa Bold", sans-serif;
	text-transform: none;
	text-shadow: none;
	margin-bottom: 10px;
	margin-top: 10px;
	margin-left: 0px;
	width: 100%;
	text-align: center;
}
#page22 p{
	text-indent: 20px;
}
#page23 h2{
	font-size: 42px;
	margin-left: 20px;
	color: rgb(119, 190, 155);
	font-family: "Nexa Bold", sans-serif;
	text-transform: none;
	text-shadow: none;
	margin-bottom: 10px;
	margin-top: 10px;
	margin-left: 0px;
}
#page23 .cadastro{
	float: right;
	margin-top: 5px;
	width: 50%;
}
#page23 .cadastro img{
	width: 100%;
}
#page23 h3{
	font-size: 24px;
	color: rgb(70,71,73);
	font-family: "Nexa Bold", sans-serif;
	text-transform: none;
	text-shadow: none;
	margin-bottom: 0px;
	margin-top: 20px;
	margin-left: 0px;
}
#page23 h4{
	font-size: 18px;
	color: rgb(70,71,73);
	font-family: "Nexa Bold", sans-serif;
	text-transform: none;
	text-shadow: none;
	margin-bottom: 10px;
	margin-top: 10px;
	margin-left: 0px;
	width: 100%;
	text-align: center;
}
#page23 .grafico{
	width: 100%;
}
#page23 .grafico img{
	width: 100%;
}
#page23 .legenda p{
	margin-top: 0px;
	text-align: right;
}

#page24 .cadastro{
	float: right;
	margin-top: 5px;
	width: 50%;
}
#page24 .cadastro img{
	width: 100%;
}
#page24 h3{
	font-size: 24px;
	color: rgb(70,71,73);
	font-family: "Nexa Bold", sans-serif;
	text-transform: none;
	text-shadow: none;
	margin-bottom: 0px;
	margin-top: 20px;
	margin-left: 0px;
}
#page24 .grafico{
	width: 100%;
}
#page24 .grafico img{
	width: 100%;
}
#page24 .legenda p{
	margin-top: 0px;
	text-align: right;
}
#page25 #capa{
	width:100%;	
	margin-left: -3%;
}
#page25 img{
	width: 105%;
}
#page25 #texto{
	width:100%;	
	height: 340px;
	overflow:auto;
	float:left;
}
#page26 #conteudo{
	width:100%;
}

#page26 h1{
	font-size:42px;
	font-family:"Nexa Bold", sans-serif;
	color:rgb(75,181,126);
}

#page26 h2{
	font-size:15px;
	font-family:"gota", sans-serif;
	color:rgb(141,149,151);
}
#page26 #slider {
	width: 95%;
	height: 40%;
	position: fixed;
	bottom: 90px;
	overflow: hidden;
}
#page26 #slider img{
	position: absolute;
	width: 100%;
	display: none;
}
#page26 #slider img.ativo{
	display: block;
}
#page26 h1{
	font-size: 24px;
	color: rgb(75,181,126);
	font-family: "Nexa Bold", sans-serif;
	text-transform: none;
	text-shadow: none;
	margin-bottom: 0px;
	padding-top: 10px;
	margin-left: 0px;
	padding-left: 0;
}
#page26 .cont-textos{
	height :400px;
	overflow: auto;
}
#page26 #ante{
	background-image: url("../img/ante.png");
	width: 60px;
	height: 60px;
	background-size: 100% 100%;
	position: absolute;
	z-index: 9;
	left: 30px;
	bottom: 300px;
	cursor: pointer;
}
#page26 #prox{
	background-image: url("../img/prox.png");
	width: 60px;
	height: 60px;
	background-size: 100% 100%;
	position: absolute;
	z-index: 9;
	right: 30px;
	bottom: 300px;
	cursor: pointer;
}
.smart{
	display: none;
}
.ipad{
	display: block;	
}

}