@media all and (max-width:1200px) and (min-width:400px){

.prev{
	width: 50px;
	height: 50px;
	bottom: 3%;
	left: 1%;
	position: absolute;
}
.next{
	width: 50px;
	height: 50px;
	bottom: 3%;
	right: 1%;
	position: absolute;
}
	
	
/****** PAGE2 ******/
#page2 .t1{	
	margin-top: 100px;
}
#page2 .footer{	
	bottom: 100px;	
}
#page2 .t2{		
	font-size: 12px;
}
#page2 a{		
	font-size: 15px;
}
#page2 .bandeira{	
	margin-top: 30px;
}
/****** PAGE4 ******/
#page4 p{
	text-indent: 30px;
	text-align: justify;
}
#page4 .caixa-texto{
	height: 500px;
	overflow: auto;
	padding-left: 30px;
	padding-right: 15px;
}
/****** PAGE5 ******/
#page5 h2 {
	font-size: 42px;
	margin-left: 20px;
	color: rgb(195, 204, 90);
	font-family: "Nexa Bold", sans-serif;
	text-transform: capitalize;
	text-shadow: none;
}
#page5 .caixa-aspas{
	float: right;	
	width: 420px;
	margin-right: 20px;
}
#page5 .caixa-texto{
	overflow: auto;
	height: 140px;	
	padding-left: 10px;
	padding-right: 10px;
}
#page5 .caixa-texto p{
	color: #fff;	
	text-align: center;
	text-transform: none;
}
#page5 .container-caixa {
	float: right;
	height: 423px;
	width: 380px;
	margin-right: 20px;
	background-image: url('../img/bg-texto.png');
	background-position: center;
	background-size: auto 100%;
	position: absolute;
	background-repeat: no-repeat;
	right: 15px;
	bottom: 140px;
}
#page5 .caixa-texto-bg{
	overflow: auto;
	height: 397px;
}
#page5 .caixa-texto-bg p {
	text-transform: none;
	text-align: left;
	text-indent: 30px;
	font-size: 16px;
	line-height: 22px;
	padding: 30px;
	padding-top: 10px;
	color: rgb(52, 72, 93);
}
#page6 .texto-top{
	width: 380px;
	height: 280px;
	overflow: auto;
	right: 75px;
	float: right;	
	margin-right: 60px;
	margin-top: 46px;
}
#page6 .tabela1{
	float: left;	
	width: 100%;
	text-align: center;
	margin-top: 50px;
}
#page6 .tabela2{
	float: left;	
	width: 100%;
	text-align: center;
	margin-top: 50px;
}
#page6.legenda{
	font-size: 12px;
	text-align: right;
}
#page7 .texto-top{
	width: 400px;
	float: left;
}
#page7 .texto-top img{
	margin-left: 164px;
	width: 78px;
	float: left;
	margin-top: -10px;
}
#page7 .caixa-aspas{
	width: 100%;
	text-align: center;	
	overflow: auto;
	float: left;
	margin-top: 
}
#page7 .caixa-aspas .caixa-texto{
	width: 420px;
	text-align: center;
	height: 130px;
	overflow: auto;
	margin: 0 auto;
}
#page7 .ultima-linha{
	width: 100%;
	float: left;
	margin-top: 50px;
}
#page7 .ultima-linha .col1{
	width: 42%;
	float: left;
}
#page7 .ultima-linha .chave{	
	float: left;
	margin-left: 2%;
}
#page7 .ultima-linha .col2{	
	width: 45%;
	float: left;
	margin-left: 2%;
	margin-top: -30px;
}
#page7 .ultima-linha h2{
	font-size: 30px;
	color: rgb(195, 204, 90);
	font-family: "Nexa Bold", sans-serif;
	text-transform: none;
	float: left;
	width: 100%;
	margin-bottom: 10px;
	margin-top: -10px;
}
#page7 .ultima-linha .col2 p{	
	height: 110px;
   	overflow: auto;
 	float: left;
}
#page7 .ultima-linha .col2 img{
	float: left;
	margin-left: 120px;
}

#page8 h2 {
	font-size: 42px;
	margin-left: 20px;
	color: rgb(195, 204, 90);
	font-family: "Nexa Bold", sans-serif;
	text-transform: capitalize;
	text-shadow: none;
	margin-bottom: 0px;
}
#page8 .caixa-aspas{
	float: right;
	width: 420px;
	margin-right: 20px;
	margin-top: -10%;
}
#page8 .caixa-texto{
	overflow: auto;
	height: 140px;	
	padding-left: 10px;
	padding-right: 10px;
}
#page8 .caixa-texto p{
	color: #fff;	
	text-align: center;
	text-transform: none;
}
#page8 .container-caixa {
	float: right;
	height: 423px;
	width: 380px;
	margin-right: 20px;
	background-image: url('../img/bg-texto2.png');
	background-position: center;
	background-size: auto 100%;
	position: absolute;
	background-repeat: no-repeat;
	right: 15px;
	bottom: 140px;
}
#page8 .caixa-texto-bg{
	overflow: auto;
	height: 397px;
}
#page8 .caixa-texto-bg p {
	text-transform: none;
	text-align: left;
	text-indent: 30px;
	font-size: 16px;
	line-height: 22px;
	padding: 30px;
	padding-top: 10px;
	color: rgb(52, 72, 93);
}

}